[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.{md,markdown}]
indent_size = 2
insert_final_newline = true

[*.{js,jsx,mjs,ts,tsx,mts}]
indent_size = 2
insert_final_newline = true

[*.json]
indent_size = 2

[*.py]
indent_size = 4
insert_final_newline = true

[*.{toml,yaml,yml}]
indent_size = 2
insert_final_newline = true
